<div class="home-container">

<div class="home-logo"><%= image_tag("BudgetBuddy2.gif", alt: "Example Image") %></div>

<div class="home-link"><%= link_to 'Register', new_user_registration_path %></div>
<div class="home-link"><%= link_to 'Log In', new_user_session_path %></div>

</div>
